<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
    xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Sinaurl</display-name>
	<description>Sinaurl web config for tomcat</description>
	<!-- TODO: change to a servlet -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:spring/sinaurl-init.xml;
         </param-value>
	</context-param>
	<!-- 先加载平台的confs配置和初始化spring环境，然后再加载短链的配置confs -->
	<listener>
		<listener-class>com.weibo.api.servlet.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>cn.t.server.SinaurlInitListener</listener-class>
	</listener>
	<listener>
		<listener-class>cn.t.trackurl.server.TrackurlInitListener</listener-class>
	</listener>
	<filter>
		<filter-name>exceptionFilter</filter-name>
		<filter-class>cn.t.servlets.ExceptionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>exceptionFilter</filter-name>
		<url-pattern>/sinaurl/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>sourceMissingFilter</filter-name>
		<filter-class>cn.t.servlets.SourceMissingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sourceMissingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter><!-- 在jersey之前，这个filter的主要作用是开关控制选择jersey还是原来的servlet -->
		<filter-name>jerseyDispatcher</filter-name>
		<filter-class>cn.t.servlets.JerseyDispatcherFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>jerseyDispatcher</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
    	<servlet-name>WeiboServlet</servlet-name>
        <servlet-class>com.weibo.api.servlet.WeiboServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
	<listener>
    	<listener-class>cn.t.server.SinaurlInitListener</listener-class>
    </listener>
    <servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/sinaurl/short.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/sinaurl/short.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/sinaurl/secure/short.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/sinaurl/secure/short.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/sinaurl/admin/short.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/sinaurl/admin/short.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/sinaurl/long.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/sinaurl/long.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/sinaurl/secure/long.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/sinaurl/secure/long.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/sinaurl/admin/long.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/sinaurl/admin/long.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/sinaurl/mix.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/sinaurl/mix.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/sinaurl/secure/mix.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/sinaurl/secure/mix.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/2/short_url/shorten.json</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/2/short_url/expand.json</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/2/short_url/info.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/sinaurl/public/shorten.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/sinaurl/public/expand.json</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/sinaurl/public/info.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/2/sinaurl/public/shorten.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/2/sinaurl/public/expand.json</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/2/sinaurl/public/info.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/short_url/expand.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/short_url/expand.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/short_url/shorten.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/short_url/shorten.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/short_url/batch_info.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/short_url/batch_info.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/2/short_url/info/force_update.json</url-pattern>
	</servlet-mapping>
	
	
	
	
	<servlet>
		<servlet-name>SinaurlMqLaunch</servlet-name>
		<servlet-class>cn.t.api.servlet.SinaurlMqLaunchServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>Long2Short</servlet-name>
		<servlet-class>cn.t.servlets.Long2Short</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Long2Short</servlet-name>
		<url-pattern>/old/sinaurl/short.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Long2Short</servlet-name>
		<url-pattern>/old/sinaurl/short.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Long2Short</servlet-name>
		<url-pattern>/old/sinaurl/secure/short.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Long2Short</servlet-name>
		<url-pattern>/old/sinaurl/secure/short.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Long2Short</servlet-name>
		<url-pattern>/old/sinaurl/admin/short.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Long2Short</servlet-name>
		<url-pattern>/old/sinaurl/admin/short.json</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Short2Long</servlet-name>
		<servlet-class>cn.t.servlets.Short2Long</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Short2Long</servlet-name>
		<url-pattern>/old/sinaurl/long.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Short2Long</servlet-name>
		<url-pattern>/old/sinaurl/long.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Short2Long</servlet-name>
		<url-pattern>/old/sinaurl/secure/long.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Short2Long</servlet-name>
		<url-pattern>/old/sinaurl/secure/long.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Short2Long</servlet-name>
		<url-pattern>/old/sinaurl/admin/long.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Short2Long</servlet-name>
		<url-pattern>/old/sinaurl/admin/long.json</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MixUrlServlet</servlet-name>
		<servlet-class>cn.t.servlets.MixUrlServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>MixUrlServlet</servlet-name>
		<url-pattern>/old/sinaurl/mix.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MixUrlServlet</servlet-name>
		<url-pattern>/old/sinaurl/mix.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MixUrlServlet</servlet-name>
		<url-pattern>/old/sinaurl/secure/mix.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MixUrlServlet</servlet-name>
		<url-pattern>/old/sinaurl/secure/mix.json</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UpdateDomainStatus</servlet-name>
		<servlet-class>cn.t.servlets.UpdateDomainStatus</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateDomainStatus</servlet-name>
		<url-pattern>/sinaurl/secure/update_domain_status.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateDomainStatus</servlet-name>
		<url-pattern>/sinaurl/secure/update_domain_status.json</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UpdateSwitcher</servlet-name>
		<servlet-class>cn.t.servlets.UpdateSwitcher</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateSwitcher</servlet-name>
		<url-pattern>/sinaurl/secure/switcher.json</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UpdateStatus</servlet-name>
		<servlet-class>cn.t.servlets.UpdateStatus</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateStatus</servlet-name>
		<url-pattern>/sinaurl/secure/safe.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateStatus</servlet-name>
		<url-pattern>/sinaurl/secure/safe.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateStatus</servlet-name>
		<url-pattern>/sinaurl/secure/unsafe.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateStatus</servlet-name>
		<url-pattern>/sinaurl/secure/unsafe.json</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatus</servlet-name>
        <url-pattern>/sinaurl/secure/update_status.json</url-pattern>
    </servlet-mapping>
	<servlet>
		<servlet-name>UpdateExt</servlet-name>
		<servlet-class>cn.t.servlets.UpdateExt</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateExt</servlet-name>
		<url-pattern>/sinaurl/secure/update.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateExt</servlet-name>
		<url-pattern>/sinaurl/secure/update.json</url-pattern>
	</servlet-mapping>

    <servlet>
        <servlet-name>UpdateAd</servlet-name>
        <servlet-class>cn.t.servlets.UpdateADType</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateAd</servlet-name>
        <url-pattern>/sinaurl/secure/updateAd.json</url-pattern>
    </servlet-mapping>

    <servlet>
		<servlet-name>UpdateTitle</servlet-name>
		<servlet-class>cn.t.servlets.UpdateTitle</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UpdateTitle</servlet-name>
		<url-pattern>/sinaurl/secure/update_title.json</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PageToNormalServlet</servlet-name>
		<servlet-class>cn.t.servlets.PageToNormalServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PageToNormalServlet</servlet-name>
		<url-pattern>/sinaurl/secure/updateToNormal.html</url-pattern>
	</servlet-mapping>

    <servlet>
        <servlet-name>RuleManagerServlet</servlet-name>
        <servlet-class>cn.t.servlets.RuleManagerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RuleManagerServlet</servlet-name>
        <url-pattern>/sinaurl/secure/ruleManager.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ObjectManagerServlet</servlet-name>
        <servlet-class>cn.t.servlets.ObjectManagerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ObjectManagerServlet</servlet-name>
        <url-pattern>/sinaurl/secure/objectManager.html</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UpdateAllObjectRuleServlet</servlet-name>
        <servlet-class>cn.t.servlets.UpdateAllObjectRuleServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateAllObjectRuleServlet</servlet-name>
        <url-pattern>/sinaurl/secure/updateAllObjectRule.json</url-pattern>
    </servlet-mapping>
    
	<servlet>
		<servlet-name>ForbidVedioServlet</servlet-name>
		<servlet-class>cn.t.servlets.ForbidVedioServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForbidVedioServlet</servlet-name>
		<url-pattern>/sinaurl/secure/forbid.json</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RepairSubmitServlet</servlet-name>
		<servlet-class>cn.t.servlets.RepairSubmitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>RepairSubmitServlet</servlet-name>
		<url-pattern>/sinaurl/secure/update.html</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClearCacheServlet</servlet-name>
		<servlet-class>cn.t.servlets.ClearCacheServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClearCacheServlet</servlet-name>
		<url-pattern>/sinaurl/admin/clear.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClearCacheServlet</servlet-name>
		<url-pattern>/sinaurl/admin/clear.xml</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RepairQueryServlet</servlet-name>
		<servlet-class>cn.t.servlets.RepairQueryServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>RepairQueryServlet</servlet-name>
		<url-pattern>/sinaurl/admin/getrepair.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RepairQueryServlet</servlet-name>
		<url-pattern>/sinaurl/admin/getrepair.xml</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ConfigServlet</servlet-name>
		<servlet-class>cn.t.servlets.ConfigServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConfigServlet</servlet-name>
		<url-pattern>/sinaurl/admin/config/getconfig.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfigServlet</servlet-name>
		<url-pattern>/sinaurl/admin/config/setconfig.json</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Monitor</servlet-name>
		<servlet-class>cn.t.servlets.Monitor</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Monitor</servlet-name>
		<url-pattern>/sinaurl/monitor</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginLogoutCookie</servlet-name>
		<servlet-class>cn.t.servlets.LoginLogoutCookie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginLogoutCookie</servlet-name>
		<url-pattern>/sinaurl/sso.json</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Shorturl_Shorten</servlet-name>
		<servlet-class>cn.t.servlets.v2.Shorten</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Shorturl_Shorten</servlet-name>
		<url-pattern>/old/sinaurl/public/shorten.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Shorturl_Shorten</servlet-name>
		<url-pattern>/old/2/short_url/shorten.json</url-pattern>
	</servlet-mapping>
	<!-- 
	<servlet-mapping>
		<servlet-name>Shorturl_Shorten</servlet-name>
		<url-pattern>/short_url/shorten.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Shorturl_Shorten</servlet-name>
		<url-pattern>/2/short_url/shorten.json</url-pattern>
	</servlet-mapping>
	 -->
	<servlet>
		<servlet-name>Shorturl_Expand</servlet-name>
		<servlet-class>cn.t.servlets.v2.Expand</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Shorturl_Expand</servlet-name>
		<url-pattern>/old/sinaurl/public/expand.json</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Shorturl_Expand</servlet-name>
		<url-pattern>/old/2/short_url/expand.json</url-pattern>
	</servlet-mapping>
	<!--  
	<servlet-mapping>
		<servlet-name>Shorturl_Expand</servlet-name>
		<url-pattern>/2/short_url/expand.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Shorturl_Expand</servlet-name>
		<url-pattern>/short_url/expand.json</url-pattern>
	</servlet-mapping>
	-->
	
	<servlet>
		<servlet-name>Shorturl_Info</servlet-name>
		<servlet-class>cn.t.servlets.v2.ShorturlInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Shorturl_Info</servlet-name>
		<url-pattern>/old/sinaurl/public/info.json</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Shorturl_Info</servlet-name>
		<url-pattern>/old/2/short_url/info.json</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Shorturl_Info_OBJECT</servlet-name>
		<servlet-class>cn.t.servlets.v2.ShorturlInfo4Object</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Shorturl_Info_OBJECT</servlet-name>
		<url-pattern>/sinaurl/object/info.json</url-pattern>
	</servlet-mapping>
	
	<!--  
	<servlet-mapping>
		<servlet-name>Shorturl_Info</servlet-name>
		<url-pattern>/short_url/info.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Shorturl_Info</servlet-name>
		<url-pattern>/2/short_url/info.json</url-pattern>
	</servlet-mapping>
	-->
	<servlet>
		<servlet-name>backdoor</servlet-name>
		<servlet-class>cn.t.servlets.BackDoorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>backdoor</servlet-name>
		<url-pattern>/sinaurl/backdoor.text</url-pattern>
	</servlet-mapping>

    <servlet>
        <servlet-name>BackStageServlet</servlet-name>
        <servlet-class>cn.t.servlets.BackStageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackStageServlet</servlet-name>
        <url-pattern>/sinaurl/secure/back-stage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BindObject</servlet-name>
        <servlet-class>cn.t.servlets.BindObjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BindObject</servlet-name>
        <url-pattern>/sinaurl/secure/bind_object.json</url-pattern>
    </servlet-mapping>

	
	<!-- migrate from v3 begin-->
	<servlet>
        <servlet-name>shorturlInfoBatch</servlet-name>
        <servlet-class>cn.t.servlets.v1.BatchInfoServlet</servlet-class>
        <init-param>
			<param-name>conf</param-name>
			<param-value>method=GET;needAuth=OPTION;rateLimit=NONE;status=PUBLIC</param-value>
		</init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>shorturlInfoBatch</servlet-name>
        <url-pattern>/old/short_url/batch_info.json</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shorturlInfoBatch</servlet-name>
        <url-pattern>/old/short_url/batch_info.xml</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>shorturlExpand</servlet-name>
        <servlet-class>cn.t.servlets.v1.ExpandServlet</servlet-class>
        <init-param>
			<param-name>conf</param-name>
			<param-value>method=GET;needAuth=OPTION;rateLimit=NONE;status=PUBLIC</param-value>
		</init-param>
    </servlet>
     <servlet-mapping>
        <servlet-name>shorturlExpand</servlet-name>
        <url-pattern>/old/short_url/expand.json</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shorturlExpand</servlet-name>
        <url-pattern>/old/short_url/expand.xml</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>shorturlShorten</servlet-name>
        <servlet-class>cn.t.servlets.v1.ShortenServlet</servlet-class>
        <init-param>
			<param-name>conf</param-name>
			<param-value>method=GET;needAuth=OPTION;rateLimit=NONE;status=PUBLIC</param-value>
		</init-param>
    </servlet>
     <servlet-mapping>
        <servlet-name>shorturlShorten</servlet-name>
        <url-pattern>/old/short_url/shorten.json</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shorturlShorten</servlet-name>
        <url-pattern>/old/short_url/shorten.xml</url-pattern>
    </servlet-mapping>
    
	<servlet>
        <servlet-name>transcodeServlet</servlet-name>
        <servlet-class>cn.t.servlets.TranscodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>transcodeServlet</servlet-name>
        <url-pattern>/2/short_url/transcode/exists.json</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transcodeServlet</servlet-name>
        <url-pattern>/2/short_url/admin/transcode/list.json</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>transcodeServlet</servlet-name>
        <url-pattern>/2/short_url/admin/transcode/new.json</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>transcodeServlet</servlet-name>
        <url-pattern>/2/short_url/admin/transcode/modify.json</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transcodeServlet</servlet-name>
        <url-pattern>/2/short_url/admin/transcode/destroy.json</url-pattern>
    </servlet-mapping>
    
	<!-- migrate from v3 end-->
	
    <!--exclude style dir as css files,not redirect in IndexServlet-->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/style/*</url-pattern>
    </servlet-mapping>

	
	
    <servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>cn.t.servlets.IndexServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	
	<error-page>
		<error-code>500</error-code>
		<location>/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/503.jsp</location>
	</error-page>


<servlet>
		<servlet-name>TrackurlCountServlet</servlet-name>
		<servlet-class>cn.t.trackurl.servlets.TrackurlCountServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>TrackurlCountServlet</servlet-name>
		<url-pattern>/trackurl/status/count.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrackurlCountServlet</servlet-name>
		<url-pattern>/trackurl/comment/count.json</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TrackurlListServlet</servlet-name>
		<servlet-class>cn.t.trackurl.servlets.TrackurlListServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>TrackurlListServlet</servlet-name>
		<url-pattern>/trackurl/status/list.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrackurlListServlet</servlet-name>
		<url-pattern>/trackurl/comment/list.json</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Trackurl_Monitor</servlet-name>
		<servlet-class>cn.t.trackurl.servlets.MonitorServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Trackurl_Monitor</servlet-name>
		<url-pattern>/trackurl/monitor</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TrackurlConfigServlet</servlet-name>
		<servlet-class>cn.t.trackurl.servlets.ConfigServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>TrackurlConfigServlet</servlet-name>
		<url-pattern>/trackurl/admin/getconfig.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrackurlConfigServlet</servlet-name>
		<url-pattern>/trackurl/admin/setconfig.json</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClicksServlet</servlet-name>
		<servlet-class>cn.t.trackurl.servlets.ClicksServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClicksServlet</servlet-name>
		<url-pattern>/trackurl/clicks.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClicksServlet</servlet-name>
		<url-pattern>/trackurl/clicks.xml</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LocationsServlet</servlet-name>
		<servlet-class>cn.t.trackurl.servlets.LocationsServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>LocationsServlet</servlet-name>
		<url-pattern>/trackurl/locations.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LocationsServlet</servlet-name>
		<url-pattern>/trackurl/locations.xml</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReferrersServlet</servlet-name>
		<servlet-class>cn.t.trackurl.servlets.ReferrersServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReferrersServlet</servlet-name>
		<url-pattern>/trackurl/referrers.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReferrersServlet</servlet-name>
		<url-pattern>/trackurl/referrers.xml</url-pattern>
	</servlet-mapping>


	<!-- v2 api -->
	<servlet>
		<servlet-name>Shorturl_TrackurlCountServlet</servlet-name>
		<servlet-class>cn.t.trackurl.servlets.v2.TrackurlCountServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Shorturl_TrackurlCountServlet</servlet-name>
		<url-pattern>/trackurl/v2/share/counts.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Shorturl_TrackurlCountServlet</servlet-name>
		<url-pattern>/trackurl/v2/comment/counts.json</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Shorturl_TrackurlListServlet</servlet-name>
		<servlet-class>cn.t.trackurl.servlets.v2.TrackurlListServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Shorturl_TrackurlListServlet</servlet-name>
		<url-pattern>/trackurl/v2/share/statuses.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Shorturl_TrackurlListServlet</servlet-name>
		<url-pattern>/trackurl/v2/comment/comments.json</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Shorturl_ClicksServlet</servlet-name>
		<servlet-class>cn.t.trackurl.servlets.v2.ClicksServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Shorturl_ClicksServlet</servlet-name>
		<url-pattern>/trackurl/v2/clicks.json</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Shorturl_LocationsServlet</servlet-name>
		<servlet-class>cn.t.trackurl.servlets.v2.LocationsServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Shorturl_LocationsServlet</servlet-name>
		<url-pattern>/trackurl/v2/locations.json</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Shorturl_ReferersServlet</servlet-name>
		<servlet-class>cn.t.trackurl.servlets.v2.ReferersServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Shorturl_ReferersServlet</servlet-name>
		<url-pattern>/trackurl/v2/referers.json</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>trackurl_backdoor</servlet-name>
		<servlet-class>cn.t.trackurl.servlets.BackDoorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>trackurl_backdoor</servlet-name>
		<url-pattern>/trackurl/backdoor.text</url-pattern>
	</servlet-mapping>

	<!-- migrate from v3 begin -->
	<servlet>
		<servlet-name>shorturlClicks</servlet-name>
		<servlet-class>cn.t.trackurl.servlets.v1.ClicksServlet</servlet-class>
		<init-param>
			<param-name>conf</param-name>
			<param-value>method=GET;needAuth=OPTION;rateLimit=NONE;status=PUBLIC</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>shorturlClicks</servlet-name>
		<url-pattern>/short_url/clicks.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>shorturlClicks</servlet-name>
		<url-pattern>/short_url/clicks.xml</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>shorturlLocation</servlet-name>
		<servlet-class>cn.t.trackurl.servlets.v1.LocationsServlet</servlet-class>
		<init-param>
			<param-name>conf</param-name>
			<param-value>method=GET;needAuth=REQUIRED;rateLimit=NONE;status=PUBLIC</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>shorturlLocation</servlet-name>
		<url-pattern>/short_url/locations.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>shorturlLocation</servlet-name>
		<url-pattern>/short_url/locations.xml</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>shorturlReferrers</servlet-name>
		<servlet-class>cn.t.trackurl.servlets.v1.ReferrersServlet</servlet-class>
		<init-param>
			<param-name>conf</param-name>
			<param-value>method=GET;needAuth=REQUIRED;rateLimit=NONE;status=PUBLIC</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>shorturlReferrers</servlet-name>
		<url-pattern>/short_url/referrers.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>shorturlReferrers</servlet-name>
		<url-pattern>/short_url/referrers.xml</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>shorturlCommentComment</servlet-name>
		<servlet-class>cn.t.trackurl.servlets.v1.CommentCommentServlet</servlet-class>
		<init-param>
			<param-name>conf</param-name>
			<param-value>method=GET;needAuth=REQUIRED;rateLimit=NONE;status=PUBLIC</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>shorturlCommentComment</servlet-name>
		<url-pattern>/short_url/comment/comments.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>shorturlCommentComment</servlet-name>
		<url-pattern>/short_url/comment/comments.xml</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>shorturlCommentCount</servlet-name>
		<servlet-class>cn.t.trackurl.servlets.v1.CommentCountServlet</servlet-class>
		<init-param>
			<param-name>conf</param-name>
			<param-value>method=GET;needAuth=OPTION;rateLimit=NONE;status=PUBLIC</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>shorturlCommentCount</servlet-name>
		<url-pattern>/short_url/comment/counts.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>shorturlCommentCount</servlet-name>
		<url-pattern>/short_url/comment/counts.xml</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>shorturlShareCount</servlet-name>
		<servlet-class>cn.t.trackurl.servlets.v1.ShareCountServlet</servlet-class>
		<init-param>
			<param-name>conf</param-name>
			<param-value>method=GET;needAuth=OPTION;rateLimit=NONE;status=PUBLIC</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>shorturlShareCount</servlet-name>
		<url-pattern>/short_url/share/counts.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>shorturlShareCount</servlet-name>
		<url-pattern>/short_url/share/counts.xml</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>shorturlShareStatus</servlet-name>
		<servlet-class>cn.t.trackurl.servlets.v1.ShareStatusServlet</servlet-class>
		<init-param>
			<param-name>conf</param-name>
			<param-value>method=GET;needAuth=REQUIRED;rateLimit=NONE;status=PUBLIC</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>shorturlShareStatus</servlet-name>
		<url-pattern>/short_url/share/statuses.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>shorturlShareStatus</servlet-name>
		<url-pattern>/short_url/share/statuses.xml</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>cn.t.trackurl.servlets.test.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/test.json</url-pattern>
	</servlet-mapping>
	
	<!-- migrate from v3 end -->











</web-app>
